/index.html
*.js
*.tags
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.swp
*.vrb
*.synctex.gz
minted-*
*.vrb
*.lmk
.czrc
.tag*
.exe
test_case/
elm-stuff/
scripts/grouping.csv
.vscode/
build/
node_modules/